# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Output of the 'go get' command, which installs dependencies
/bin
/pkg
/mod

# Go module files (Go 1.11+)
go.sum
go.work

# If you want to exclude vendor directories:
vendor/

# Logs and test result files
*.log
*.cover
*.cov

# Dependency directories created by 'dep'
vendor/

# Build directory created by the 'gox' tool
_build/

# Project-specific files
.DS_Store
.idea/
*.iml
.vscode/
.env
